<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <link type="text/plain" rel="author" href="humans.txt">
  <link rel="alternate" hreflang="en" href="<%= htmlWebpackPlugin.options.url %>">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>

  <%= require('html-loader!../shared/header.html').default %>

    <main role="main">
      <div style="padding-top: 150px">
        <div class="container">
          <div class="row h-50">
            <div class="col-md-6">
              <a href="./gallery.html?g=paintings" class="gallery">
                <div class="card mb-4 gallery-holder">
                  <img src="<%= require('../../assets/images/paintings/niko.jpg') %>" width="100%"
                    alt="Paintings gallery" class="bd-placeholder-img card-img-top img-fluid">
                  <div class="lead gallery-title card-footer text-muted text-center">
                    P A I N T I N G S
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="./gallery.html?g=watercolors" class="gallery">
                <div class="card mb-4 gallery-holder">
                  <img src="<%= require('../../assets/images/watercolor/door.jpg') %>" width="100%"
                    alt="Watercolors gallery" class="bd-placeholder-img card-img-top img-fluid">
                  <div class="lead gallery-title card-footer text-muted text-center">
                    W A T E R C O L O R S
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="./gallery.html?g=commissions" class="gallery">
                <div class="card mb-4 gallery-holder">
                  <img src="<%= require('../../assets/images/commissions/feathers.jpg') %>" width="100%"
                    alt="Feathers gallery" class="bd-placeholder-img card-img-top img-fluid">
                  <div class="lead gallery-title card-footer text-muted text-center">
                    C O M M I S I O N S
                  </div>
                </div>
              </a>
            </div>

            <div class="col-md-6">
              <a href="./gallery.html?g=textile" class="gallery">
                <div class="card mb-4 gallery-holder">
                  <img src="<%= require('../../assets/images/textile/cloth.jpg') %>" width="100%" alt="Textile gallery"
                    class="bd-placeholder-img card-img-top img-fluid">
                  <div class="lead gallery-title card-footer text-muted text-center">
                    T E X T I L E
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="./gallery.html?g=other" class="gallery">
                <div class="card mb-4 gallery-holder">
                  <img src="<%= require('../../assets/images/other/mozaik.jpg') %>" width="100%" alt="Mosaic gallery"
                    class="bd-placeholder-img card-img-top img-fluid">
                  <div class="lead gallery-title card-footer text-muted text-center">
                    O T H E R
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>

    </main>

    <%= require('html-loader!../shared/footer.html').default %>

</body>

</html>
